html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  }

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.tagline {
  opacity: 0.5;
}

:root {
  --background-color: #ffffff;
  --text-color: #24292e;
  --primary: #57606a;
  --primary-hover: #24292e;
  --secondary-color: #6e7781;
  --border-color: #e1e4e8;
  --footer-color: #6a737d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1117;
    --text-color: #c9d1d9;
    --primary: #8b949e;
    --primary-hover: #e6edf3;
    --secondary-color: #768390;
    --border-color: #30363d;
    --footer-color: #8b949e;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary-hover);
  transition: all 0.1s ease;
}

.hero {
  text-align: center;
  padding: 1rem 1rem;
}

article {
  margin: 0 auto;
}

.snap {
  margin-top: 2rem;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  padding-bottom: 0;
}

.upside-down {
  transform: rotate(180deg);
}

.snap img {
  margin: auto;
  border-radius: 5px;
}

.caption {
  line-height: 2rem;
  font-size: 0.75rem;
  opacity: 0.5;
}

.social-links a {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.5rem;
  color: var(--primary);
}

.social-links a:hover {
  color: var(--primary-hover);
}

.social-links a:hover i {
  transform: translateY(-5px);
  transition: all 0.1s ease;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--footer-color);
  margin-top: auto;
  padding: 0.5rem 0;
}